<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Lista de usuarios
    </div>
    <div class="table table-dark">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Prioridad</th>
                <th scope="col">Correo</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <th scope="row">{{usuario.id}}</th>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.edad}}</td>
                <td>{{usuario.prioridad}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.password}}</td>
                <button class="btn btn-warning" (click)="redireccion(usuario.id)" >Editar</button>
              </tr>
            </tbody>
          </table>
         
            <div class="d-flex justify-content-center links">
             <a href="dashboard-admin" class="btn btn-warning">Devolverse</a>
            </div>
       
    </div>
</div>
