  <div class="container-fluid px-1 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                <h3>Editar</h3>
                <p class="blue-text" >Edita el usuario seleccionado<br> Asi puedes cambiar lo que quieras!</p>
                <div class="card">
                    <h5 class="text-center mb-4">Edicion Usuario</h5>
                    <form class="form-card" [formGroup]="editarForm" (ngSubmit)="postForm(editarForm.value)">
                        <div class="row justify-content-between text-left">
                            <label  form="exampleFormControlInput1">Correo </label>
                            <input type="text" class="form-control" placeholder="Nombre  del paciente" formControlName="correo">
                        </div>
                        <div class="row justify-content-between text-left">
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label  form="exampleFormControlInput1">Edad </label>
                                <input type="text" class="form-control" placeholder="Nombre  del paciente" formControlName="edad">
                            </div>
                            <div class="form-group col-sm-6 flex-column d-flex">
                                <label  form="exampleFormControlInput1">Edad </label>
                                <input type="text" class="form-control" placeholder="Nombre  del paciente" formControlName="nombre">
                            </div>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label  form="exampleFormControlInput">Prioridad </label>
                            <input type="text" class="form-control" placeholder="Nombre  del paciente" formControlName="prioridad">
                        </div>
                        
            <button type="submit " class="btn btn-primary">
                Guardar
            </button>
            
            <div class="d-flex justify-content-center links">
                <a href="editar" class="btn btn-info">Devolverse</a>
               </div>
          
                    </form>
                </div>
            </div>
        </div>
    </div>